<ngx-spinner
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNoteModal">Create new
        note<i class="bi bi-file-plus"></i></button>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-body" *ngFor="let note of noteData">
                <h5>{{note.note_title}}</h5>
                <p class="text-muted">{{note.note_desc}}</p>

                <div class="d-flex align-items-center">
                    <span class="mx-3">
                        <i class="bi bi-pen" data-bs-toggle="modal" data-bs-target="#editNoteModal" (click)="getAllDetails(note)"></i>
                    </span>
                    <span class="mx-3">
                        <i class="bi bi-trash" (click)="deleteNote(note)"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Add daily notes  -->
    <div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add daily notes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="noteForm">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Note Title:</label>
                            <input type="text" class="form-control" id="recipient-name" formControlName="title">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Note Description:</label>
                            <textarea class="form-control" id="message-text" formControlName="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addNote()" [disabled]="noteForm.invalid">Add note</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit notes  -->
    <div class="modal fade" id="editNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editForm">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Note Title:</label>
                            <input type="text" class="form-control" id="recipient-name" formControlName="edit_title" [value]="noteDetails?.note_title">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Note Description:</label>
                            <textarea class="form-control" id="message-text" formControlName="edit_description" [value]="noteDetails?.note_desc"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateNote(noteData)" >Update note</button>
                </div>
            </div>
        </div>
    </div>
</div>